---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Privacy Policy</Fragment>
      <Fragment slot="desc">Last updated: Jul 26th, 2024.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Introduction
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Recordscript is committed to protecting your privacy. This Privacy Policy explains how we handle your personal information. Our software is designed to respect your privacy and ensure your data remains secure.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">
        Data Collection
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Recordscript does not collect any personal data from users. Our software operates entirely offline, and no data is transmitted to our servers or any third-party services.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">
        Usage Data
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        As Recordscript functions offline, it does not collect, store, or transmit any usage data. All operations are performed locally on your device.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">
        Third-Party Services
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Recordscript does not use any third-party services that could collect data. Your information and activity within the app are not shared with any external entities.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">
        Security
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We are committed to ensuring that your information is secure. Since Recordscript does not collect or store any personal data, there are no concerns about unauthorized access or breaches.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">
        Changes to This Privacy Policy
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on our website. These changes are effective immediately after they are posted.
      </p>
      <h2 class="font-bold text-3xl text-gray-800">
        Contact Us
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        If you have any questions about this Privacy Policy, please contact us at:

        Recordscript
        Email: recordscript@terrydjony.com
      </p>
      <h2 class="font-bold text-3xl text-gray-800">
        Conclusion
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Your privacy is important to us. Since Recordscript is designed to work offline and does not collect any data, you can use our software with peace of mind, knowing that your privacy is fully protected.
      </p>
    </div>
  </Container>
</Layout>
