---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Record screen with subtitle",
    description:
      "Record the whole screen and get the transcript. You can use it while attending online meetings, watching Youtube videos, or anything.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Subtitle (+ English translation) from video or audio files",
    description:
      "Have a video you'd like watch but want a subtitle for it? Just use Recordscript, and select your file to subtitle. Recordscript supports translation to English. Beside videos, you can also subtitle audio recordings.",
    icon: "bx:bxs-data",
  },
  {
    title: "Works fully offline",
    description:
      "You don't need to connect to internet to transcribe. Everything's done offline on your local machine (thanks to whisper.cpp!), which means your data is safe in your hands :D",
    icon: "bx:bxs-briefcase",
  },

  {
    title: "Cross-Platform (tested on Windows & Ubuntu)",
    description:
      "Developed using Tauri & Rust - should work on cross platform, tested on Windows & Ubuntu. (Mac coming soon!)",
    icon: "bx:bxs-bot",
  }
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to subtitle or transcribe
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Recordscript lets you generate subtitle or transcript either from recording your screen, or from your video/audio files.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
