<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Recordscript. Recordscript is an open-source subtitle generator with built-in screen recorder, initiated by Terry Djony and Adhitya Rimba. All rights reserved.
  </p>
</footer>
